:root {
    --red: #AA1423
    --gray: #777
    --light-gray: #EEE
}


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;    
}

body,input,footer
 {
    font-family: 'Roboto', sans-serif;
}

.header {
    font-size: 28px;
    background-color: var(--light-gray);
    color: lightgreen;
    padding: 5px 0;
    text-align: center;
}

.content {
    padding: 120px 0;
    text-align: center;
    background-image: url(./img/background-home.jpg);
    background-size: cover;
    background-position: center;
}

.content main {
    margin: 0;
}

.content-text{
   width: 100%;
   height: 90px;
   color: white;
   align-items: center;
}

.content-text h1 {
    margin-bottom: 10px;
}

.content-text p {
    font-size: 15px;
    color: var(--light-gray);
    margin: 10px;
}

.content-input {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.content-input input {
    border: none;
    background-color: transparent;
    font-size: 15px;
    border-bottom: 1.5px solid rgb(231, 163, 37);
    width: 50%;
}

.content-input input::placeholder {
    font-weight: bold;
    color: rgb(231, 163, 37);
}

.content-input button {
    background-color: rgb(231, 163, 37);
    color: white;
    border: none;
    padding: 10px 20px; 
    cursor: pointer;
    font-size: 15px;
    font-family: 'Roboto Slab', sans-serif;
   
}

.content-tops {
    color: #AA1423;
    font-weight: bold;
    margin: 50px auto;
    width: 90%;
    text-align: center;
}

.content-tops div {
    color: #AA1423;
    font-weight: bold;
    padding: 10px 0;
    max-width: 800px;
    margin: 0 auto;
}

.content-tops a{
    color: #AA1423;
    text-decoration: none;
   
}

.content-tops ul{
    display: flex;
    justify-content: space-between;
}

.content-tops .numbers{
    justify-content: end;
    color: rgb(184, 182, 182);
}

.content-tops p {
    font-weight: 600;
}

.content-tops ul {
    padding: 5px;
   
}

.content-hits {
    
    color: #AA1423;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f3eaea;

    position: relative;
    overflow: visible;
}

.content-hits::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999999;

    width: 0;
    height: 0;

    
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid white;
}

.content-hits h2 {
    margin: 10px;
    padding-top: 15px;
    
}

.content-hits label {
    width: 250px;
    height: 100px;
    border-radius: 10px;
    border-color: var(--light-gray);
}

.content-hits input {
    width: 250px;
    height: 70px;
    color: #AA1423;
    border: none;
    font-size: xx-large;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.content-hits p {
    color: gray;
    margin-top: -8px;
}

footer{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-evenly;
    
}

footer #icon {
    width: 30px;
    height: 30px;
    align-items: center;

    
}

footer #img-logo {
    width: 100px;
    height: 30px;
    padding: 5px;
    
}







